{% extends "base.html" %}

{% block title %}
IndexPage
{% endblock %}
{% block content %}

    <div class="row" >
        <div id="filter" class='col-lg-2 ms-3'>
            <div class="list-group">
               
                {% for category in categories %}
                    <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">
                        {{ category.name }}{{ category.id }}
                    </a>
                {% endfor %}
                <a href="/" class="list-group-item list-group-item-action">
                    View All
                </a>
            </div>
        </div>
        <div id="products" class='col-lg-9 mx-auto'>
                <div class="row mx-auto">
          
                    {% for product in products %}
                        <div  class='card mx-auto mb-3 ' style="width: 18rem;">
                            <img src="{{product.product_images.url}}" height='300' width='auto'  class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">Rs.{{ product.price }}</p>
                            
                                <a href="#" class="btn btn-light border btn-sm">Add to Cart</a>
                            </div>
                        </div>
                        
                    {% endfor %}
                    
                </div>
        </div>
    </div>
    {% endblock %}
